{% extends '::base.html.twig' %}

{% block header %}
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#collapse-1" aria-expanded="false">
                <span class="sr-only">x</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% set home_path = 'frontend_home_dashboard' %}
            {% if app.user %}
                {% if attribute(app.user,'isClient') is defined %}
                    {% set home_path = 'assessment_assessment_index' %}
                {% endif %}
            {% endif %}
            <a class="navbar-brand" href="{{ path(home_path) }}">{{ 'home'|trans }}</a>
        </div>
        <div class="collapse navbar-collapse" id="collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {% if articleGlobal is not null %}
                        <a href="{{ path('help_article_show',{'id': articleGlobal.id }) }}" target="_blank"><i class="fa fa-question fa-24 text-danger"></i></a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block breadcrumb %}
    {{ knp_menu_render('AxtionHelpBundle:Builder:breadcrumb',{'class':'breadcrumb'}) }}
{% endblock %}
