{% extends '@AxtionQuestionnaire/Form/bootstrap_3_layout.html.twig' %}
{% block form_label %}
    {% if label is not sameas(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif %}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {% if required %}
            <i class="fa fa-asterisk"></i>
        {% endif %}
        {{ translation_domain is sameas(false) ? label|raw : label|raw|trans({}, translation_domain)|raw }}
        </label>
        {% if help %}
            <i class="fui-question-circle pull-right" data-toggle="popover" data-placement="left" data-content="{{ help|raw }}" data-trigger="hover" data-html="true"></i>
        {% endif %}
    {%- endif -%}
{% endblock form_label %}

{% block grid_row %}
    {{ form_widget(form) }}
{% endblock %}
{% block grid_widget %}
    {% spaceless %}
        <div class="table-responsive">
            <table class="table">
                {% for child in form %}
                {% if loop.first %}
                <thead>
                <tr>
                    <th>
                    </th>
                    {% for radio in child %}
                        <th class="text-center">{{ radio.vars.label }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% endif %}
                <tr>
                    <td>
                        {{ form_label(child) }}
                    </td>
                    {% for radio in child %}
                        <th class="text-center">{{ form_widget(radio, {'label':false}) }}</th>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endspaceless %}
{% endblock %}
{% block grid_question_type_widget %}
    {% spaceless %}
        <div class="row {{ id }}">
            {% for choice in choices %}
            <div class="col-md-4 col-xs-4 ">
                <div class="text-center choice {% if choice.value == value %} btn-primary {% endif %}" {% if choice.value == value %} data-selected="1" {% endif %}" data-id="{{ choice.value }}">
                <i class="fa-3x {{ choice.data.icon }}"></i>
                <p>{{ choice.label }}</p>
            </div>
        </div>
        {% endfor %}
        </div>
        <input type="hidden" {{ block('widget_attributes') }} {% if value is defined %} value="{{ value }}" {% endif %}/>
        <script>
            (function ($) {
                var choice = $('{{ '.'~id }}');
                choice.gridChoice({
                    hiddenId: '{{ '#'~id }}'
                });
            }(jQuery));
        </script>
    {% endspaceless %}
{% endblock %}
{% block access_code_widget %}
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                {{ block('form_widget_simple') }}
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 col-xs-offset-6 col-md-offset-0">
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="button" id="btn-access-code">
                    <i class="fa fa-random"></i>
                    {{ 'button.generate'|trans }}
                </button>
            </div>
            <script>
                (function ($) {
                    function randomString(length) {
                        return Math.round((Math.pow(36, length + 1) - Math.random() * Math.pow(36, length))).toString(36).slice(1);
                    }

                    $('#btn-access-code').on('click', document, function () {
                        $('#{{ _context.form.vars.id }}').val(randomString(32));
                    });
                }(jQuery));
            </script>
        </div>
    </div>
{% endblock %}

{% block assessment_form_widget %}
    {{ form_widget(form) }}
{% endblock assessment_form_widget %}
{% block response_groups_form_widget %}
    <ul class="nav nav-tabs" role="tablist" id="assessment-tab" data-per-tab="{{ device.config_question_per_tab }}">
        {% for responseGroup in form.children %}
            <li{% if loop.first %} class="active"{% endif %}>
                <a href="#{{ responseGroup.vars.id }}" role="tab" data-toggle="tab">
                    {{ responseGroup.vars.data.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        <br/>
        {% for responseGroup in form.children %}
            <div class="{% if loop.first %} active in {% endif %} tab-pane fade" id="{{ responseGroup.vars.id }}">
                {% for response in responseGroup.children %}
                    {{ form_row(response) }}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock response_groups_form_widget %}


{% block response_form_label %}
    {% if value.question.questionType and value.question.questionType.hasSubquestions == true %}
        {% set label = value.question.name %}
        {% set help = value.question.help %}
        {% set required = form.subResponses.vars.required %}
        {{ block('form_label') }}
    {% endif %}
{% endblock response_form_label %}
{% block response_form_row %}
    <div class="well well-sm question" data-id="{{ data.question.id }}">
        <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
            {{- form_label(form) -}}
            {% if is_mobile() %}
                <hr>
            {% endif %}
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{% endblock response_form_row %}
{% block response_form_widget %}
    {{ form_widget(form) }}
{% endblock response_form_widget %}

{% block _questionnaire_form_questionGroups_widget %}
    {% for children in form %}
        <div class="row form-group">
            <div class="col-md-4">
                {% for child in children %}
                    {{ form_widget(child) }}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock _questionnaire_form_questionGroups_widget %}

{% block sub_responses_form_label %}
    {% for child in form |slice(0,1) %}
        <tr>
            <th>
            </th>
            {% for child in child.children|slice(0,1) %}
                {% for radio in child.children %}
                    <th class="text-center">{{ radio.vars.label }}</th>
                {% endfor %}
            {% endfor %}
        </tr>
    {% endfor %}
{% endblock sub_responses_form_label %}

{% block sub_responses_form_row %}
    {% if not is_mobile() %}
        <table class="table">
            <thead>
            {{ form_label(form) }}
            </thead>
            <tbody>
            {{ form_widget(form) }}
            </tbody>
        </table>
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endblock sub_responses_form_row %}
{% block sub_response_form_widget %}
    {% spaceless %}
        {% if not is_mobile() %}
            {% for child in form %}
                <tr class="form-group response">
                    <td>
                        <label>
                            {{ child.vars.label }}
                        </label>
                        {{ form_errors(child) }}
                    </td>
                    {% for radio in child %}
                        <td class="text-center">{{ form_widget(radio, {'label':false}) }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% else %}
            <div class="container">
                {% for child in form %}
                    <label>{{ child.vars.label }}</label>
                    {{ form_errors(child) }}
                    <div class="row form-group response">
                        {% for radio in child %}
                            <div class="col-xs-4">{{ form_widget(radio) }}</div>
                        {% endfor %}
                    </div>
                    <hr/>
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock sub_response_form_widget %}
{% block responses_form_label %}
{% endblock responses_form_label %}
{% block sub_response_label %}
{% endblock sub_response_label %}
{% block response_groups_form_label %}
{% endblock response_groups_form_label %}

{% block good_bad_widget %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                {{ left_label }}
            </div>
            <div class="col-sm-6">
                {{ block('form_widget_simple') }}
            </div>
            <div class="col-sm-3">
                {{ right_label }}
            </div>
        </div>
    </div>
{% endblock good_bad_widget %}