{% extends 'AxtionQuestionnaireBundle::layout.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.category) }}
    {{ form_row(form.route_name) }}
    {{ form_row(form.content) }}
    <input type="submit" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}