{% extends 'AxtionQuestionnaireBundle::layout.html.twig' %}
{% block breadcrumb %}
{% endblock %}
{% block body %}
    <section>
        <a href="{{ path('admin_help_article_new') }}" class="btn btn-primary pull-right">
            <i class="fa fa-plus"></i>
            {{ 'article.new'|trans }}
        </a>
        <h4>{{ 'article.articles'|trans }}</h4>
    </section>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'table.number'|trans }}</th>
            <th>{{ 'article.title'|trans }}</th>
            <th>{{ 'actions.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ path('admin_help_article_show',{'id':article.id}) }}">{{ article.title }}</a></td>
                <td>
                    <a href="{{ path('admin_help_article_show',{'id':article.id}) }}">{{ 'actions.show'|trans }}</a> |
                    <a href="{{ path('admin_help_article_edit',{'id':article.id}) }}">{{ 'actions.edit'|trans }}</a> |
                    <a href="{{ path('admin_help_article_delete',{'id': article.id}) }}">{{ 'actions.delete'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}