{% extends 'AxtionQuestionnaireBundle::layout.html.twig' %}

{% block body %}
    <article>
        <h5>{{ article.title }}</h5>
        <section>
            {{ article.content|raw }}
        </section>
    </article>
{% endblock %}