{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <input type="submit" class="btn btn-primary" value="{{ 'button.submit'|trans }}">
    {{ form_end(form) }}
{% endblock %}