{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block body %}
    <a href="{{ path('questionnaire_theme_new') }}" class="pull-right btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>{{ 'theme.new'|trans }}</a>
    <h4>{{ 'theme.themes'|trans }}</h4>
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'table.number'|trans }}</th>
            <th>{{ 'theme.name'|trans }}</th>
            <th>{{ 'actions.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for theme in themes %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ theme.name }}</td>
                <td>
                    <a href="{{ path('questionnaire_theme_edit',{'id':theme.id}) }}" class="text-warning">{{ 'actions.edit'|trans }}</a>
                    <a href="{{ path('questionnaire_theme_delete',{'id':theme.id}) }}" class="text-danger">{{ 'actions.delete'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}