{% extends 'AxtionHelpBundle::layout.html.twig' %}
{% block body %}
    <div class="row">
        {% for category in categories %}
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ category.name }}</div>
                    <div class="panel-body">
                        {% for article in category.articles %}
                            <p><a href="{{ path('help_article_show',{'id':article.id}) }}">{{ article.title }}</a></p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}