{% extends '@AxtionQuestionnaire/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1>{{ 'client.goodbye'|trans }}</h1>

                <h4>{{ clientQ.questionnaire.name }}</h4>

                <div class="goodbye-message">{{ clientQ.questionnaire.goodbye|raw }}</div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-5 col-xs-8 col-xs-offset-2">
                        <a href="{{ path('assessment_assessment_index') }}" class="btn btn-primary btn-block">
                            {{ 'button.return_questionnaire_list'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/axtionquestionnaire/js/custom-radio.js') }}"></script>
{% endblock %}