{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block breadcrumb %}
{% endblock %}
{% block body %}
    <h4>{{ 'client.questionnaires'|trans }}</h4>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'table.number'|trans }}</th>
                <th>{{ knp_pagination_sortable(assessments,'questionnaire.name'|trans,'qname' ) }}</th>
                <th>{{ knp_pagination_sortable(assessments,'questionnaire.status'|trans,'sname') }}</th>
                <th class="hidden-xs">{{ knp_pagination_sortable(assessments,'questionnaire.created_at'|trans, 'created_at') }}</th>
                <th>{{ 'actions.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for assessment in assessments %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ assessment.questionnaire.name }}</td>
                    <td>{{ assessment.status }}</td>
                    <td class="hidden-xs">{{ assessment.questionnaire.createdAt|date('d-m-Y') }}</td>
                    <td>
                        {% if assessment.status is defined %}
                            {% if assessment.status.slug == 'open' %}
                                <a href="{{ path('assessment_assessment_welcome',{'id':assessment.id}) }}">{{ 'client.questionnaire.fill'|trans }}</a>
                            {% elseif assessment.status.slug == 'in_progress' %}
                                <a href="{{ path('assessment_'~assessment.questionnaire.theme.identifier~'_assessment_fill',{'id':assessment.id}) }}">{{ 'client.questionnaire.continue'|trans }}</a>
                            {% else %}
                                <a href="{{ path('assessment_assessment_show',{'id':assessment.id}) }}">{{ 'client.questionnaire.show'|trans }}</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}