{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block body %}
    {% for response in assessment.responses %}
        <p><strong>{{ response.question.name|raw }}</strong></p>
        <p>{{ response.value }}</p>
    {% endfor %}
{% endblock %}
