{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block breadcrumb %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1>{{ 'client.welcome'|trans }}</h1>

                <h4>{{ assessment.questionnaire.name }}</h4>

                <div class="welcome-message">{{ assessment.questionnaire.welcome|raw }}</div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-5 col-xs-4 col-xs-offset-4">
                        <a href="{{ path('assessment_'~assessment.questionnaire.theme.identifier~'_assessment_fill',{'id':assessment.id}) }}" class="btn btn-primary btn-block">
                            {{ 'button.continue'|trans }}
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/axtionquestionnaire/js/custom-radio.js') }}"></script>
{% endblock %}
