{% extends '::base.html.twig' %}
{% block body %}
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">{{ 'client.login_with_access_code'|trans }}</div>
            </div>

            <div class="panel-body">

                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path('assessment_security_check') }}" method="post">
                    <div class="form-group">
                        <label for="username">{{ 'client.email'|trans }}</label>
                        <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}"/>
                    </div>
                    <div class="form-group">
                        <label for="access_code">{{ 'client.access_code'|trans }}</label>
                        <input type="text" id="access_code" name="_access_code" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">{{ 'button.sign_in'|trans }}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}