{% extends '@AxtionQuestionnaire/layout.html.twig' %}

{% block body %}

    <table class="table table-striped table-responsive">
        <thead>
        <tr>
            <th>{{ 'table.number'|trans }}</th>
            <th>{{ 'client.displayName'|trans }}</th>
            <th>{{ 'client.createdAt'|trans }}</th>
            <th>{{ 'client.updatedAt'|trans }}</th>
            <th>{{ 'reponse.responses'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for assessment in questionnaire.assessments %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ assessment.client.displayName }}</td>
                <td>{{ assessment.createdAt| date('d-m-Y H:i:s') }}</td>
                <td>{{ assessment.updatedAt| date('d-m-Y H:i:s') }}</td>
                <td>
                    {% if assessment.responses.count>0 %}
                        <a href="{{ path('assessment_response_index',{id:assessment.id}) }}">{{ 'response.responses'|trans }}</a>
                    {% else %}
                        {{ 'response.no_responses'|trans }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
