<table class="table table-striped axtion-datatable">
    <thead>
    <tr>
        <th>{{ 'table.number'|trans }}</th>
        <th>{{ 'client.firstname'|trans }}</th>
        <th>{{ 'client.lastname'|trans }}</th>
        <th class="hidden-xs">{{ 'client.email'|trans }}</th>
        <th>{{ 'client.is_active'|trans }}</th>
        <th>{{ 'client.participating'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for client in clients %}
        <tr {% if (assessments is not null) and assessments.contains(client.id) %}class="bg-success" {% endif %}>
            <th>{{ loop.index }}</th>
            <td>{{ client.firstname }}</td>
            <td>{{ client.lastname }}</td>
            <td class="hidden-xs">{{ client.email }}</td>
            <td>
                {% if client.isActive %}
                    {{ 'client.yes'|trans }}
                {% else %}
                    {{ 'client.no'|trans }}
                {% endif %}
            </td>
            <td>
                <input type="checkbox" name="participating_{{ client.id }}" value="{{ client.id }}" {% if (assessments is not null) and assessments.contains(client.id) %}checked disabled{% endif %} class="participating">
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>