{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block body %}
    <a href="{{ path('questionnaire_questionnaire_new') }}" class="pull-right btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        {{ 'questionnaire.new'|trans }}</a>
    <h4>{{ 'questionnaire.questionnaires'|trans }}</h4>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'table.number'|trans }}</th>
                <th>{{ knp_pagination_sortable(questionnaires, 'questionnaire.name'|trans, 'name') }}</th>
                {% if is_granted("ROLE_ADMIN") %}
                    <th>{{ knp_pagination_sortable(questionnaires, 'questionnaire.creator'|trans, 'username') }}</th>
                {% endif %}
                <th>{{ knp_pagination_sortable(questionnaires, 'status.status'|trans, 'statusname') }}</th>
                <th class="hidden-xs">{{ knp_pagination_sortable(questionnaires, 'questionnaire.created_at'|trans, 'createdAt') }}</th>
                <th>{{ 'actions.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for questionnaire in questionnaires %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        <a href="{{ path('questionnaire_questionnaire_show',{id:questionnaire.id}) }}">{{ questionnaire.name }}</a>
                    </td>
                    {% if is_granted("ROLE_ADMIN") %}
                        <td>
                            {{ questionnaire.user.displayName }}
                        </td>
                    {% endif %}
                    <td>{{ questionnaire.status }}</td>
                    <td class="hidden-xs">{{ questionnaire.createdAt|date('Y-m-d H:i:s') }}</td>
                    <td>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <p><a href="{{ path('questionnaire_questionnaire_show',{id:questionnaire.id}) }}">{{ 'actions.show'|trans }}</p>

                                    <p><a href="{{ path('questionnaire_questionnaire_edit',{id:questionnaire.id}) }}" class="text-warning">{{ 'actions.edit'|trans }}</p>

                                    <p><a href="{{ path('questionnaire_questionnaire_delete',{id:questionnaire.id}) }}" data-message="{{ "questionnaire.delete"|trans }}" class="link-delete text-danger">{{ 'actions.delete'|trans }}</p>

                                    <p><a href="{{ path('questionnaire_questionnaire_preview',{id:questionnaire.id}) }}">{{ 'actions.preview'|trans }}</p>
                                </div>
                                <div class="col-md-6">
                                    <p><a href="{{ path('questionnaire_questionnaire_manage_clients',{'id':questionnaire.id}) }}">{{ 'actions.manage_clients'|trans }}</p>

                                    <p><a href="{{ path('questionnaire_questionnaire_assessments',{id:questionnaire.id}) }}">{{ 'assessment.assessments'|trans }}</p>

                                    <p><a href="{{ path('questionnaire_dependency_manage',{'id': questionnaire.id}) }}">{{ 'dependency.manage'|trans }}</p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(questionnaires) }}
    </div>
{% endblock %}