{% extends '@AxtionQuestionnaire/layout.html.twig' %}

{% block body %}
    <div id="manageClients" data-questionnaire-id="{{ questionnaire.id }}">
        <h4>{{ questionnaire.name }}</h4>
        <div class="row">
            <div class="col-md-9 col-xs-12">
                <div class="table-responsive" id="clients">
                    {{ include('@AxtionQuestionnaire/Questionnaire/filter.html.twig') }}
                </div>
            </div>
            <div class="col-md-3">
                {{ render(controller('AxtionQuestionnaireBundle:Invite:invite',{'id':questionnaire.id})) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(function () {
            $('form[name="questionnaire_invite"]').invite();
        });
    </script>
{% endblock %}