{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block body %}
    {{ form_errors(form) }}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.status) }}
    {{ form_row(form.theme) }}
    {{ form_row(form.copyright) }}
    {{ form_row(form.welcome) }}
    {{ form_row(form.goodbye) }}
    <div id="questionnaire_form_question_groups" data-prototype="{% filter escape %}{% include 'AxtionQuestionnaireBundle:Questionnaire:question_groups_prototype.html.twig' with {'form':form.questionGroups.vars.prototype} %} {% endfilter %}">
        {{ form_label(form.questionGroups) }}
        {{ form_widget(form.questionGroups) }}
    </div>
    <div class="row">
        {% if questionnaire.isNew %}
            {% set offset = 3 %}
        {% else %}
            {% set offset = 6 %}
        {% endif %}
        <div class="col-md-3 col-md-offset-{{ offset }}">
            <a href="{{ path('questionnaire_questionnaire_index') }}" class="btn btn-inverse btn-block">{{ 'button.cancel'|trans }}</a>
        </div>
        {% if questionnaire.isNew %}
            <div class="col-md-3">{{ form_widget(form.create_add_new, {'attr':{'class':'btn btn-primary btn-block'},'label':'question.create_add_new'|trans}) }}</div>
            <div class="col-md-3">{{ form_widget(form.create_return_list, {'attr':{'class':'btn btn-primary btn-block'}}) }}</div>
        {% else %}
            <div class="col-md-3">{{ form_widget(form.save_return_list, {'attr':{'class':'btn btn-primary btn-block'}}) }}</div>
        {% endif %}
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block footer_javascripts %}
    {{ parent() }}
    <script>
        jQuery(function () {
            $('#questionnaire_form_question_groups').collectionToggle({title: "{{ 'question_group.new'|trans }}"});
        });
    </script>
{% endblock %}