{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block body %}
    {{ form_stylesheet(form) }}
    <h4>{{ questionnaire.name }}</h4>
    <div>
        {{ questionnaire.welcome|raw }}
    </div>
    {% for question_group in form.question_groups %}
        <h4>{{ question_group.vars.value.name }}</h4>
        {% for question in question_group.questions %}
            <div class="well">
                {% if question.vars.value.subQuestions.count>0 %}
                    {{ question.vars.value.name|raw }}
                {% endif %}
                {{ form_row(question) }}
            </div>
        {% endfor %}
    {% endfor %}
    <div>
        {{ questionnaire.goodbye|raw }}
    </div>
    <a href="{{ path('questionnaire_questionnaire_index') }}" class="btn btn-success">
        <span class="glyphicon glyphicon-chevron-left"></span>
        {{ 'button.back_list'|trans }}</a>
    {{ form_javascript(form) }}
{% endblock %}
