{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block body %}
    <article>
        <a href="{{ path('questionnaire_questionnaire_edit',{id:questionnaire.id}) }}" class="btn btn-danger pull-right">
            <span class="glyphicon glyphicon-edit"></span>
            {{ 'questionnaire.edit'|trans }}
        </a>
        <h4>{{ questionnaire.name }}</h4>
        <hr/>
        <section>
            <h6>{{ 'questionnaire.welcome'|trans }}</h6>

            <p>{{ questionnaire.welcome|raw }}</p>
        </section>
        <hr/>
        <section>
            <h6>{{ 'questionnaire.goodbye'|trans }}</h6>

            <p>{{ questionnaire.goodbye|raw }}</p>
        </section>
    </article>
    <hr/>
    <section>
        <a href="{{ path('questionnaire_question_new',{id:questionnaire.id}) }}" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-plus"></span>
            {{ 'question.new'|trans }}</a>
        <h4>{{ 'question_group.question_groups'|trans }}</h4>
        <!-- TAB NAVIGATION -->
        <ul class="nav nav-tabs" role="tablist" id="group-sortable">
            {% for qGroup in questionnaire.questionGroups %}
                <li {% if loop.first %}class="active"{% endif %} data-id="{{ qGroup.id }}"><a href="#tab{{ qGroup.id }}" role="tab" data-toggle="tab">{{ qGroup.name }}</a></li>
            {% endfor %}
        </ul>
        <!-- TAB CONTENT -->
        <div class="tab-content">
            {% for qGroup in questionnaire.questionGroups %}
                <div class="tab-pane {% if loop.first %}active fade in{% endif %}" id="tab{{ qGroup.id }}">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{{ 'table.number'|trans }}</th>
                                <th>{{ 'questionnaire.name'|trans }}</th>
                                <th>{{ 'question_type.icon'|trans }}</th>
                                <th>{{ 'actions.actions'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody class="sortable">
                            {% for question in qGroup.questions %}
                                <tr>
                                    <td class="sortable_rank" data-id="{{ question.id }}">{{ question.sortableRank }}</td>
                                    <td>{{ question.name|raw }}</td>
                                    <td><i class="{{ question.questionType.icon }}"></i></td>
                                    <td class="action">
                                        <a href="{{ path('questionnaire_question_show',{id:question.id}) }}">{{ 'actions.show'|trans }}</a> |
                                        <a href="{{ path('questionnaire_question_edit',{id:question.id}) }}" class="text-warning">{{ 'actions.edit'|trans }}</a>
                                        <a href="{{ path('questionnaire_question_delete',{id:question.id}) }}" class="text-danger pull-right">
                                            <i class="fa fui-cross"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/axtionquestionnaire/js/sortable.js') }}"></script>
    <script src="{{ asset('bundles/axtionquestionnaire/js/question-group-sortable.js') }}"></script>
{% endblock %}