<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <title>{{ title|default('Questionnaire') }}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.5/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="{{ asset('public/css/flat-ui.css') }}">
    {% stylesheets
    '@AxtionQuestionnaireBundle/Resources/css/style.css'
    output="css/style.css" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% block stylesheets %}{% endblock stylesheets %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery{{ app.debug?'':'.min' }}.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui{{ app.debug?'':'.min' }}.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.5/js/bootstrap-select.min.js"></script>
    <script src="{{ asset('public/js/flat-ui.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/dataTables.bootstrap.js"></script>
    {% javascripts
    '@BazingaJsTranslationBundle/Resources/js/translator.js'
    '@AxtionFrontendBundle/Resources/js/main.js'
    'bundles/fosjsrouting/js/router.js'
    output='js/base.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ url('bazinga_jstranslation_js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('bundles/axtionslider/js/bootstrap-slider.js') }}"></script>
    <script src="{{ asset('bundles/axtionslider/js/slider.js') }}"></script>
    {% block javascripts %}{% endblock javascripts %}
</head>
<body>
<main class="container">
    <header>
        {% block header %}
        {% endblock %}
    </header>
    {% block breadcrumb %}
    {% endblock %}
    {% block flashMessage %}
        {% for key in app.session.flashBag.keys %}
            <div class="alert alert-{{ key }} alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                {% for flashMessage in app.session.flashbag.get(key) %}

                    <strong>{{ flashMessage|raw }}</strong>

                {% endfor %}
            </div>
        {% endfor %}
    {% endblock flashMessage %}
    {% block body %}
    {% endblock body %}
</main>

{% block footer %}
    <footer class="footer">
        <div class="container">
            <p class="copyright">Copyright ©
                <script> document.write(new Date().getFullYear())</script>
                aXtion B.V
            </p>
        </div>
    </footer>
{% endblock %}
{% block footer_javascripts %}
{% endblock footer_javascripts %}
</body>
</html>
