{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AxtionQuestionnaireBundle/Resources/css/*'
    '@AxtionSliderBundle/Resources/css/*'
    '@SCDatetimepickerBundle/Resources/public/css/*'
    output='css/questionnaire.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AxtionQuestionnaireBundle/Resources/js/*'
    output='js/questionnaire.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('bundles/scdatetimepicker/js/bootstrap-datetimepicker.min.js') }}" charset="UTF-8"></script>
    <script src="{{ asset('bundles/scdatetimepicker/js/locales/bootstrap-datetimepicker.nl.js') }}" charset="UTF-8"></script>
    <script src="{{ asset('bundles/axtionassessment/js/goodBad.plugin.js') }}"></script>
{% endblock %}

{% block header %}
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#collapse-1" aria-expanded="false">
                <span class="sr-only">x</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% set home_path = 'frontend_home_dashboard' %}
            {% if app.user %}
                {% if app.user is client %}
                    {% set home_path = 'assessment_assessment_index' %}
                {% endif %}
            {% endif %}
            <a class="navbar-brand" href="{{ path(home_path) }}">{{ 'home'|trans }}</a>
        </div>
        <div class="collapse navbar-collapse" id="collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                    {% set logout_path = 'axtion_user_logout' %}
                    {% if attribute(app.user,'isClient') is defined %}
                        {% set logout_path = 'assessment_security_logout' %}
                    {% endif %}
                    <li>
                        <a href="{{ path(logout_path) }}"
                           data-toggle="tooltip" data-placement="bottom" title="{{ 'authentication.logout'|trans }}"><i class="fa fa-24 fa-sign-out"></i></a>
                    </li>
                {% else %}
                    <li><a href="{{ path('axtion_user_login') }}">{{ 'authentication.login'|trans }}</a></li>
                {% endif %}
                <li>
                    {% if articleGlobal is not null %}
                        <a href="{{ path('help_article_show',{'id': articleGlobal.id }) }}" target="_blank"><i class="fa fa-question fa-24 text-danger"></i></a>
                    {% else %}
                        <a href="{{ path('help_category_index') }}" target="_blank"><i class="fa fa-question fa-24 text-danger"></i></a>
                    {% endif %}

                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block breadcrumb %}
    {{ knp_menu_render('AxtionQuestionnaireBundle:Builder:breadcrumb',{'class':'breadcrumb'}) }}
{% endblock %}
