{% extends 'AxtionQuestionnaireBundle::layout.html.twig' %}
{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'question.question'|trans }}</th>
            <th>{{ 'response.response'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for response in assessment.responses %}
            {% if response.subResponses.count>0 %}
                <tr>
                    <td colspan="2">{{ response.question.name |raw }}</td>
                </tr>
                {% for subresponse in response.subresponses %}
                    <tr>
                        <td>{{ subresponse.question.name |raw }}</td>
                        <td>{{ subresponse.value }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>{{ response.question.name |raw }}</td>
                    <td>{{ response.value }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}