{% extends '@AxtionQuestionnaire/layout.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button type="submit" class="btn btn-primary">{{ 'button.submit'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}

