{% extends 'AxtionHelpBundle::layout.html.twig' %}
{% block body %}
    <article>
        <header>
            <h4>{{ article.title }}</h4>
        </header>
        <section>
            {{ article.content|raw }}
        </section>
    </article>
{% endblock %}