{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block body %}
    <a href="{{ path('assessment_client_new') }}" class="pull-right btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        {{ 'client.new'|trans }}</a>
    <h4>{{ 'client.clients'|trans }}</h4>
    <div class="table-responsive">
        <table class="table tab-striped">
            <thead>
            <tr>
                <th>{{ 'table.number'|trans }}</th>
                <th>{{ 'client.firstname'|trans }}</th>
                <th>{{ 'client.lastname'|trans }}</th>
                <th class="hidden-xs">{{ 'client.email'|trans }}</th>
                <th class="hidden-xs">{{ 'client.is_active'|trans }}</th>

                <th>{{ 'actions.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ client.firstname }}</td>
                    <td>{{ client.lastname }}</td>
                    <td class="hidden-xs">{{ client.email }}</td>
                    <td class="hidden-xs">
                        {% if client.isActive %}
                            {{ 'client.yes'|trans }}
                        {% else %}
                            {{ 'client.no'|trans }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('assessment_client_show',{'id': client.id}) }}">{{ 'actions.show'|trans }}</a> |
                        <a href="{{ path('assessment_client_edit',{'id':client.id}) }}" class="text-warning">{{ 'actions.edit'|trans }}</a> |
                        <a href="{{ path('assessment_client_delete',{'id':client.id }) }}" class="text-danger">{{ 'actions.delete'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}