{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.firstname) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.email) }}
            {{ form_row(form.is_active) }}
            {{ form_row(form.access_code) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="row">
                    <div class="{% if not client.isNew %}col-md-5 col-md-offset-2 {% else %}col-md-2{% endif %}">
                        <div class="form-group"><a href="{{ path('assessment_client_index') }}" class="btn btn-inverse btn-block">{{ 'button.cancel'|trans }}</a></div>
                    </div>
                    {% if client.isNew %}
                        <div class="col-md-5">
                            <div class="form-group">{{ form_widget(form.create_add_new,{'attr':{'class':'btn btn-primary btn-block'}}) }}</div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">{{ form_widget(form.create_return_list,{'attr':{'class':'btn btn-primary btn-block'}}) }}</div>
                        </div>
                    {% else %}
                        <div class="col-md-5">
                            <div class="form-group">{{ form_widget(form.save_return_list,{'attr':{'class':'btn btn-primary btn-block'}}) }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}