{% extends '@AxtionQuestionnaire/layout.html.twig' %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'client.firstname'|trans }}</th>
            <th>{{ 'client.lastname'|trans }}</th>
            <th>{{ 'client.email'|trans }}</th>
            <th>{{ 'client.is_active'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ client.firstname }}</td>
            <td>{{ client.lastname }}</td>
            <td>{{ client.email }}</td>
            <td>
                {% if client.isActive %}
                    {{ 'client.yes'|trans }}
                {% else %}
                    {{ 'client.no'|trans }}
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
    <section>
        <h5>Questionnaires</h5>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'table.number'|trans }}</th>
                <th>{{ 'questionnaire.questionnaire'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for assessment in client.assessments %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ path('questionnaire_questionnaire_show',{'id':assessment.questionnaire.id}) }}">{{ assessment.questionnaire.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}

