<div class="well">
    {{ form_start(invitationForm,{'action': path('questionnaire_invite_invite',{id:questionnaire.getId()})}) }}
    {{ form_row(invitationForm.resend) }}
    {{ form_row(invitationForm.emailTemplate) }}
    {{ form_widget(invitationForm.clients) }}
    <input type="submit" class="btn btn-primary" value="{{ 'invite.send'|trans }}">
    {{ form_end(invitationForm) }}
</div>