{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block body %}
    <a href="{{ path('questionnaire_field_option_new') }}" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-plus"></span>
        {{ 'field_option.new'|trans }}</a>
    <h4>{{ 'field_option.field_options'|trans }}</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'table.number'|trans }}</th>
            <th>{{ 'field_option.name'|trans }}</th>
            <th>{{ 'field_type.field_type'|trans }}</th>
            <th>{{ 'actions.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for option in options %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ option.name }}</td>
                <td>{{ option.fieldType }}</td>
                <td>
                    <a href="{{ path('questionnaire_field_option_edit',{id: option.id}) }}"
                       class="text-warning">{{ 'actions.edit'|trans }}</a>
                    <a href="{{ path('questionnaire_field_option_delete',{id: option.id}) }}"
                       class="text-danger">{{ 'actions.delete'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}