{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block breadcrumb %}
{% endblock %}
{% block body %}
    <h4>{{ 'dashboard.dashboard'|trans }}</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'dashboard.name'|trans }}</th>
            <th>{{ 'actions.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ 'questionnaire.questionnaire'|trans }}</td>
            <td>
                <a href="{{ path('questionnaire_questionnaire_index') }}">{{ 'actions.list'|trans }}</a> |
                <a href="{{ path('questionnaire_questionnaire_new') }}">{{ 'actions.new'|trans }}</a>
            </td>
        </tr>
        {% if is_granted('ROLE_USER') %}
            <tr>
                <td>{{ 'client.client'|trans }}</td>
                <td>
                    <a href="{{ path('assessment_client_index') }}">{{ 'actions.list'|trans }}</a> |
                    <a href="{{ path('assessment_client_new') }}">{{ 'actions.new'|trans }}</a>
                </td>
            </tr>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <td>{{ 'question.question'|trans }}</td>
                <td>
                    <a href="{{ path('questionnaire_question_index') }}">{{ 'actions.list'|trans }}</a>
                </td>
            </tr>
            <tr>
                <td>{{ 'status.status'|trans }}</td>
                <td>
                    <a href="{{ path('questionnaire_status_index') }}">{{ 'actions.list'|trans }}</a> |
                    <a href="{{ path('questionnaire_status_new') }}">{{ 'actions.new'|trans }}</a>
                </td>
            </tr>
            <tr>
                <td>{{ 'emailTemplate.emailTemplates'|trans }}</td>
                <td>
                    <a href="{{ path('questionnaire_email_template_index') }}">{{ 'actions.list'|trans }}</a> |
                    <a href="{{ path('questionnaire_email_template_new') }}">{{ 'actions.new'|trans }}</a>
                </td>
            </tr>
        {% endif %}
        {% if is_granted('ROLE_DEVELOPER') %}
            <tr>
                <td>{{ 'question_type.question_type'|trans }}</td>
                <td>
                    <a href="{{ path('questionnaire_question_type_index') }}">{{ 'actions.list'|trans }}</a>
                    {% if is_granted('ROLE_DEVELOPER') %}
                        | <a href="{{ path('questionnaire_question_type_new') }}">{{ 'actions.new'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>{{ 'field_option.field_option'|trans }}</td>
                <td>
                    <a href="{{ path('questionnaire_field_option_index') }}">{{ 'actions.list'|trans }}</a> |
                    <a href="{{ path('questionnaire_field_option_new') }}">{{ 'actions.new'|trans }}</a>

                </td>
            </tr>
            <tr>
                <td>{{ 'field_type.field_type'|trans }}</td>
                <td>
                    <a href="{{ path('questionnaire_field_type_index') }}">{{ 'actions.list'|trans }}</a> |
                    <a href="{{ path('questionnaire_field_type_new') }}">{{ 'actions.new'|trans }}</a>
                </td>
            </tr>

            <tr>
                <td>{{ 'device.device'|trans }}</td>
                <td>
                    <a href="{{ path('questionnaire_device_index') }}">{{ 'actions.list'|trans }}</a> |
                    <a href="{{ path('questionnaire_device_new') }}">{{ 'actions.new'|trans }}</a>
                </td>
            </tr>
            <tr>
                <td>{{ 'configuration_key.key'|trans }}</td>
                <td>
                    <a href="{{ path('questionnaire_configuration_key_index') }}">{{ 'actions.list'|trans }}</a> |
                    <a href="{{ path('questionnaire_configuration_key_new') }}">{{ 'actions.new'|trans }}</a>
                </td>
            </tr>
            <tr>
                <td>{{ 'theme.theme'|trans }}</td>
                <td>
                    <a href="{{ path('questionnaire_theme_index') }}">{{ 'actions.list'|trans }}</a> |
                    <a href="{{ path('questionnaire_theme_new') }}">{{ 'actions.new'|trans }}</a>
                </td>
            </tr>
            <tr>
                <td>{{ 'category.category'|trans }}</td>
                <td>
                    <a href="{{ path('admin_help_category_index') }}">{{ 'actions.list'|trans }}</a> |
                    <a href="{{ path('admin_help_category_new') }}">{{ 'actions.new'|trans }}</a>
                </td>
            </tr>
            <tr>
                <td>{{ 'article.article'|trans }}</td>
                <td>
                    <a href="{{ path('admin_help_article_index') }}">{{ 'actions.list'|trans }}</a> |
                    <a href="{{ path('admin_help_article_new') }}">{{ 'actions.new'|trans }}</a>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
