{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block header %}
{% endblock %}
{% block breadcrumb %}
{% endblock %}
{% block body %}
    <div class="jumbotron" style="margin-top: 20%">
        <p class="text-center">
            <a class="btn btn-primary" href="{{ path('axtion_user_login') }}">{{ 'user.admin'|trans }}</a>
            <a class="btn btn-inverse" href="{{ path('assessment_security_login') }}">{{ 'user.patient'|trans }}</a>
        </p>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}