<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{ 'emailTemplate.placeholders'|trans }}</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li>{% raw %}{{ client.firstname }}{% endraw %}</li>
      <li>{% raw %}{{ client.lastname }}{% endraw %}</li>
      <li>{% raw %} {{ client.email }} {% endraw %}</li>
      <li>{% raw %}{{ client.access_code }}{% endraw %}</li>
      <li>{% raw %}{{ client.questionnaire.name }}{% endraw %}</li>
      <li>{% raw %}{{ loginLink }}{% endraw %}</li>
    </ul>
  </div>
</div>