{% extends 'AxtionQuestionnaireBundle::layout.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-8">
            {{ form_errors(form) }}
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.active) }}
            {{ form_row(form.content) }}
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <a href="{{ path('questionnaire_email_template_index') }}" class="btn btn-inverse btn-block">{{ 'button.cancel'|trans }}</a>
                </div>
                <div class="col-md-6 col-ms-6">{{ form_widget(form.save_return_list, {'attr':{'class':'btn btn-primary btn-block'}}) }}</div>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-md-4">
            {{ include('AxtionQuestionnaireBundle:EmailTemplate:_placeholders.html.twig') }}
        </div>
    </div>
{% endblock %}