{% extends 'AxtionQuestionnaireBundle::layout.html.twig' %}
{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'table.number'|trans }}</th>
            <th>{{ 'emailTemplate.name'|trans }}</th>
            <th>{{ 'client.active'|trans }}</th>
            <th>{{ 'actions.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for emailTemplate in emailTemplates %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ emailTemplate.name }}</td>
                <td>
                    {% if emailTemplate.active %}
                        {{ 'client.yes'|trans }}
                    {% else %}
                        {{ 'client.no'|trans }}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('questionnaire_email_template_edit',{id:emailTemplate.id}) }}">{{ 'actions.edit'|trans }}</a> |
                    <a href="{{ path('questionnaire_email_template_delete',{id: emailTemplate.id}) }}">{{ 'actions.delete'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-6">
            <a href="{{ path('questionnaire_email_template_new') }}" class="btn btn-primary">{{ 'emailTemplate.new'|trans }}</a>
        </div>
    </div>
{% endblock %}