{% extends 'AxtionQuestionnaireBundle::layout.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-8">
            {{ form_errors(form) }}
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.active) }}
            {{ form_row(form.content) }}
            <div class="row">
                <div class="col-md-6">{{ form_widget(form.create_add_new, {'attr':{'class':'btn btn-primary btn-block'},'label':'emailTemplate.create_add_new'|trans}) }}</div>
                <div class="col-md-6">{{ form_widget(form.create_return_list, {'attr':{'class':'btn btn-primary btn-block'}}) }}</div>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-md-4">
            {{ include('AxtionQuestionnaireBundle:EmailTemplate:_placeholders.html.twig') }}
        </div>
    </div>
{% endblock %}