{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block body %}
    <a href="{{ path('questionnaire_field_type_new') }}" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        {{ 'actions.new'|trans }}</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'table.number'|trans }}</th>
            <td>{{ 'field_type.name'|trans }}</td>
            <td>{{ 'actions.actions'|trans }}</td>
        </tr>
        </thead>
        <tbody>
        {% for fieldType in fieldTypes %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ fieldType.name }}</td>
                <td>
                    <a href="{{ path('questionnaire_field_type_edit',{id:fieldType.id}) }}">{{ 'actions.edit'|trans }}</a>
                    <a href="{{ path('questionnaire_field_type_delete',{id:fieldType.id}) }}">{{ 'actions.delete'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}