{% block collot_datetime_widget %}
    {% spaceless %}
        {% if widget == "single_text" %}
            <div class="input-group input-append date form_datetime">
                {{ block("form_widget_simple") }}
                <div class="input-group-addon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </div>
            </div>
        {% else %}
            <div {{ block("widget_container_attributes") }}>
                {{ date_pattern|replace({
                    "{{ year }}":  form_widget(form.year),
                    "{{ month }}": form_widget(form.month),
                    "{{ day }}":   form_widget(form.day),
                })|raw }}

                {% set attr = {"size": 10}|merge(attr) %}
                {% set id = "datepicker_" ~ id %}
                {% set value = '' %}
                {% set full_name = "datepicker_" ~ full_name %}
                {{ block("hidden_widget") }}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock collot_datetime_widget %}


