{% block form_javascript %}
    {% spaceless %}
        {% for child in form %}
            {{ form_javascript(child) }}
        {% endfor %}
    {% endspaceless %}
{% endblock form_javascript %}

{% block field_javascript "" %}

{% block button_javascript "" %}

{% block collot_datetime_javascript %}
    {% spaceless %}

        <script type="text/javascript">
            field = $('#{% if widget != "single_text" %}datepicker_{% endif %}{{ id }}').parent();
            {% block collot_datetime_javascript_prototype %}
            {% if widget != "single_text" %}
            var year = $('#{{ form.year.vars.id }}');
            var month = $('#{{ form.month.vars.id }}');
            var day = $('#{{ form.day.vars.id }}');

            $configs.onSelect = function (date) {
                year.val(parseInt(date.substring(0, 4), 10));
                month.val(parseInt(date.substring(5, 7), 10));
                day.val(parseInt(date.substring(8), 10));
            };
            {% endif %}

            field.datetimepicker({{ pickerOptions|json_encode|raw }});

            {% endblock %}
        </script>

    {% endspaceless %}
{% endblock %}
