{# Axtion/Bundle/UserBundle/Resources/views/Security/login.html.twig #}
{% extends 'AxtionUserBundle::layout.html.twig' %}
{% block body %}


    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">{{ 'authentication.sign_in'|trans }}</div>
            </div>

            <div class="panel-body">
                {% if error %}
                    <div class="alert alert-warning">{{ error.message|trans({}, 'exception') }}</div>
                {% endif %}
                {{ form_start(form, { 'action': path('axtion_user_login_check')}) }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    {{ form_widget(form.username,{'attr':{'placeholder':'authentication.username'}}) }}
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    {{ form_widget(form.password,{'attr':{'placeholder':'authentication.password'}}) }}
                </div>

                <div class="form-group pull-right">
                    {{ form_row(form.login,{'attr':{'class':'btn-primary'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock body %}