html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.footer .copyright {
    margin: 20px 0;
}

#loginbox {
    margin-top: 50px;
    display: block;
}

#loginbox .input-group {
    margin-bottom: 25px;
}

#loginbox button {
    margin-top: 10px;
}

#loginbox .panel-body {
    padding-top: 30px;
}

.icon-center {
    display: block !important;
    text-align: center;
}

.slider.slider-horizontal {
    width: 90% !important;
    margin-left: 10px;
}

.question-preview {
    padding: 9px !important;
    margin-bottom: 9px;
    border: 1px solid #b6b6b6;
}

.inline {
    display: inline-block;
}

#preview {
    padding-top: 20px !important;
}

.question_form_questionType .choice:hover {
    cursor: pointer;
}

.asterisk {
    color: red;
    float: left;
}

.dependency-questions {
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: auto;
}

.optional {
    background-color: #fcf8e3 !important;
}

tbody.sortable > tr {
    cursor: move;
}

.fa-24 {
    font-size: 1.5em;
}

td.action {
    width: 140px;
}

.input-group-addon {
    background-color: #34495E;
}

.datetimepicker table tr td span.active,
.datetimepicker table tr td.active.active {
    background: #1ABC9C none !important;
}

td label.radio {
    padding-left: 20px;
    display: inline-block;
}

.form-group > .fui-question-circle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;

}

form[name="assessment_form"] label {
    width: 90%;
}

.form-group label > p {
    display: inline;
}

label .fa-asterisk {
    color: #E74C3C;
}

.table th label.radio, .table td label.radio {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
}

.table th label.radio .icons, .table td label.radio .icons {
    position: relative;
}

.pagination li {
    background: #34495E;
}

.bg-success {
    background-color: #dff0d8 !important;
}

.pagination a {
    border-radius: 0 !important;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    z-index: inherit;
}

@media print {
    .breadcrumb, .navbar {
        display: none;
    }
}