{{ form_start(form,{'attr':{'data-id':questionnaire.id}}) }}
<div class="row">
    <div class="col-md-4">
        <div class="well well-sm">
            <span class="pull-right sr-only" id="spinner"><i class="fa fa-spinner fa-pulse"></i></span>
            {{ form_row(form.questionGroup) }}
            {% if form.question is defined %}
                <div class="dependency-questions">
                    {{ form_row(form.question) }}
                </div>
            {% endif %}
            {% if form.value is defined %}
                {{ form_row(form.value) }}
            {% endif %}
        </div>
    </div>
    <div class="col-md-8">
        {% if form.dependentQuestions is defined %}
            <div class="well well-sm">
                {{ form_label(form.dependentQuestions) }}
                <div class="dependency-questions">
                    {{ form_widget(form.dependentQuestions) }}
                    {{ form_errors(form.dependentQuestions) }}
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% if form.submit is defined %}
    {{ form_row(form.submit) }}
{% endif %}
{{ form_end(form) }}