{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block body %}
    <div class="dependency-form">
        {{ include('@AxtionQuestionnaire/Dependency/form.html.twig') }}
    </div>
{% endblock %}
{% block footer_javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/axtionquestionnaire/js/questionnaire.dependency.js') }}"></script>
{% endblock %}