<label>{{ 'question_type.configuration'|trans }}</label>
<div class="cke_top question-preview">
    <!-- TAB NAVIGATION -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#tab1" role="tab" data-toggle="tab">{{ 'field_option.option'|trans }}</a></li>
        <li><a href="#tab2" role="tab" data-toggle="tab">{{ 'field_option.layout'|trans }}</a></li>
        <li><a href="#tab3" role="tab" data-toggle="tab">{{ 'field_option.design'|trans }}</a></li>
    </ul>
    <!-- TAB CONTENT -->
    <div class="tab-content">
        <div class="active tab-pane fade in" id="tab1">
            {% include '@AxtionQuestionnaire/Question/_options.html.twig' with {'tab':'option'} %}
        </div>
        <div class="tab-pane fade" id="tab2">
            {% include '@AxtionQuestionnaire/Question/_options.html.twig' with {'tab':'layout'} %}
        </div>
        <div class="tab-pane fade" id="tab3">
            {% include '@AxtionQuestionnaire/Question/_options.html.twig' with {'tab':'design'} %}
        </div>
    </div>
    <div class="alert-danger sr-only question-alert well-sm">
        <strong>{{ 'alert.warning'|trans }}</strong> {{ 'question.empty_preview'|trans }}
    </div>
</div>