{% if question.questionType is not null %}
    {% if form.optionchoices is defined and tab=='option' %}
        <div class="choices" data-prototype="{% filter escape %}{% include 'AxtionQuestionnaireBundle:Question:choice_prototype.html.twig' with {'form': form.optionchoices.vars.prototype} %}{% endfilter %}">
            {% for option in question.questionType.fieldOptions %}
                {% if form[('option'~option.name)] is defined %}
                    {% if option.name =='choices' %}
                        {{ form_label(form[('option'~option.name)]) }}
                        {% for choice in form[('option'~option.name)] %}
                            {% if loop.first %}
                                <div class="row">
                                    <div class="col-md-7 col-sm-7 col-xs-7">
                                        {{ form_label(choice.value) }}
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-5">
                                        {{ form_label(choice.key) }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-group row">
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    {{ form_widget(choice.value) }}
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    {{ form_widget(choice.key) }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <div class="row">
        {% for option in question.questionType.fieldOptions %}
            {% if option.fieldOptionTab.name == tab and form[('option'~option.name)] is defined %}
                {% if option.name !='choices' %}
                    <div class="col-md-6 form-group">
                        {{ form_label(form[('option'~option.name)]) }}
                        {{ form_widget(form[('option'~option.name)]) }}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
{% if tab == 'option' and form.subQuestions is defined %}
    <div class="sub_questions" data-prototype="{% filter escape %} {% include 'AxtionQuestionnaireBundle:Question:sub_question_prototype.html.twig' with {'form':form.subQuestions.vars.prototype} %}{% endfilter %}">
        <div class="row">
            <div class="col-md-12">
                {{ form_label(form.subQuestions) }}
            </div>
        </div>
        {% for child in form.subQuestions %}
            <div class="row form-group">
                {% if loop.first %}
                    <div class="col-md-12">
                        {{ form_label(child.name) }}
                    </div>
                {% endif %}
                <div class="col-md-11 col-sm-11 col-xs-11">
                    {{ form_widget(child.name) }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}