<div class="form-group row">
    <div class="col-md-7 col-sm-7 col-xs-7">
        {{ form_widget(form.children.value) }}
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
        {{ form_widget(form.children.key) }}
    </div>
</div>