{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'table.number'|trans }}</th>
            <th>{{ knp_pagination_sortable(questions, 'question.name'|trans, 'name') }}</th>
            <th>{{ knp_pagination_sortable(questions, 'questionnaire.questionnaire'|trans, 'questionnairename') }}</th>
            <th>{{ knp_pagination_sortable(questions, 'question_type.question_type'|trans, 'questiontypename') }}</th>
            <th>{{ 'actions.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ path('questionnaire_question_show',{id:question.id}) }}">{{ question.name |raw }}</a></td>
                <td><a href="{{ path('questionnaire_questionnaire_show',{id:question.questionnaire.id}) }}">{{ question.questionnaire.name }}</a></td>
                <td>{{ question.questionType.name }}</td>
                <td>
                    <a href="{{ path('questionnaire_question_show',{id:question.id}) }}">{{ 'actions.show'|trans }}</a> |
                    <a href="{{ path('questionnaire_question_edit',{id:question.id}) }}" class="text-warning"
                       class="text-warning">{{ 'actions.edit'|trans }}</a> |
                    <a href="{{ path('questionnaire_question_delete',{id:question.id}) }}"
                       class="text-danger">{{ 'actions.delete'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(questions) }}
    </div>
{% endblock %}
