{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block body %}
    {% block title %}{% endblock %}
    <div id="question">
        {{ include('@AxtionQuestionnaire/Question/template.html.twig') }}
    </div>
{% endblock %}