{% import _self as self %}
<div class="form-group">
    {% if form.dummy is defined %}
        {{ form_label(form.dummy) }}
    {% else %}
        {{ form_label(form.subQuestions) }}
    {% endif %}
</div>
{{ form_stylesheet(form) }}
 {% for child in form.children %}
     {{ form_widget(child) }}
 {% endfor %}
{{ form_javascript(form) }}
{% macro helpMessage(help) %}
    <i class="fa fa-question-circle" data-toggle="popover" data-placement="left" data-content="{{ help }}" data-trigger="hover" data-html="true"></i>
{% endmacro %}