{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block body %}
    <div>
        <strong>{{ 'questionnaire.questionnaire'|trans }}</strong>

        <p>{{ question.questionnaire.name }}</p>
    </div>
    <div>
        <strong>{{ 'question_type.question_type'|trans }}</strong>

        {% if question.questionType is not null %}
            <p>{{ question.questionType.name }}</p>
        {% endif %}
    </div>
    <hr/>
    {{ include('@AxtionQuestionnaire/Question/preview.html.twig') }}
{% endblock %}