{{ form_errors(form) }}
{{ form_start(form) }}
<div class="row">
    <div class="col-md-7">
        {{ form_row(form.name) }}
        {{ form_row(form.help) }}
        {{ form_row(form.question_group) }}
    </div>
    <div class="col-md-5">
        {{ form_row(form.questionType) }}
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <label>{{ 'questionnaire.preview'|trans }}</label>

        <div class="question-preview cke_top">
            <div id="preview"></div>
        </div>
    </div>
    <div class="col-md-5">
        {{ include('@AxtionQuestionnaire/Question/_configuration.html.twig') }}
        <div class="row">
            <div class="col-md-12 text-center">
                {% if form.save_return_list is defined %}
                    <div class="col-md-6">
                        <div class="form-group"><a href="{{ path('questionnaire_questionnaire_show',{'id':question.questionnaire.id}) }}" class="btn btn-inverse btn-block">{{ 'button.cancel'|trans }}</a></div>
                    </div>
                    <div class="col-md-6">{{ form_widget(form.save_return_list,{'attr':{'class':'btn btn-primary btn-block'}}) }}</div>
                {% else %}
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">{{ (form_widget(form.create_return_list,{'attr':{'class':'btn btn-inverse btn-block'}})) }}</div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">{{ (form_widget(form.create_add_new,{'attr':{'class':'btn btn-primary btn-block'}})) }}</div>
                        </div>
                    </div>
                {% endif %}
            </div>
            {{ form_rest(form) }}
        </div>
    </div>
</div>

{{ form_end(form) }}

<script>
    (function ($) {
        var config = $('form[name="question_form"]').configureQuestion();
        {% if not question.isNew() %}
        config.configureQuestion("load", "preview");
        config.configureQuestion('load', 'registerObserver');
        {% endif %}
    }(jQuery))
</script>
