{% extends 'AxtionQuestionnaireBundle::layout.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <input type="submit" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}