{% extends 'AxtionQuestionnaireBundle::layout.html.twig' %}
{% block body %}
    <section>
        <a href="{{ path('admin_help_category_new') }}" class="btn btn-primary pull-right">
            <i class="fa fa-plus"></i>
            {{ 'category.new'|trans }}
        </a>
        <h4>{{ 'category.categories'|trans }}</h4>
    </section>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'table.number'|trans }}</th>
            <th>{{ 'category.name'|trans }}</th>
            <th>{{ 'actions.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('admin_help_category_edit',{'id':category.id}) }}">{{ 'actions.edit'|trans }}</a>
                    <a href="{{ path('admin_help_category_delete',{'id': category.id}) }}">{{ 'actions.delete'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}