{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'table.number'|trans }}</th>
            <th>{{ 'device.name'|trans }}</th>
            <th>{{ 'device.code'|trans }}</th>
            <th>{{ 'actions.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for device in devices %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ device.name }}</td>
                <td>{{ device.code }}</td>
                <td>
                    <a href="{{ path('questionnaire_device_edit', {'id':device.id}) }}">{{ 'actions.edit'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}