{% extends '@AxtionQuestionnaire/layout.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.code) }}
    {{ form_row(form.name) }}
    {{ form_row(form.configurations) }}
    <button type="submit" class="btn btn-primary">{{ 'button.submit'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}

{% block footer_javascripts %}
    <script>
        jQuery(function () {
            (function ($) {
                $('#device_form_configurations').collectionToggle();
            }(jQuery));
        });
    </script>
{% endblock %}