{% extends '@AxtionQuestionnaire/layout.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        {% for responseGroup in assessment.responseGroups %}
            <li {% if loop.first %}class="text-primary"{% endif %} data-id="{{ responseGroup.id }}">{{ responseGroup.name }}</li>
        {% endfor %}
    </ol>
{% endblock %}
{% block body %}
    {{ form_start(form,{'attr':{'data-assessment-id':assessment.id,'class':'sr-only'}}) }}
    {% for response in form.responses %}
        {{ form_row(response) }}
    {% endfor %}
    <div class="row">
        <div class="col-sm-6 form-group">
            <button type="button" class="btn btn-primary" id="prevButton">
                <span class="fui-arrow-left"></span>
            </button>
            <button type="button" class="btn btn-primary" id="nextButton">
                <span class="fui-arrow-right"></span>
            </button>
        </div>
        <div class="col-sm-6 form-group">
            <div class="row">
                <div class="col-md-8 col-md-offset-4">
                    <div class="row">
                        <div class="col-xs-6">{{ form_widget(form.save,{'attr':{'class':'btn btn-inverse btn-block'}}) }}</div>
                        <div class="col-xs-6">{{ form_widget(form.submit,{'attr':{'class':'btn btn-primary btn-block'}}) }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/axtionassessment/js/single/navigation.plugin.js') }}"></script>
    <script src="{{ asset('bundles/axtionassessment/js/single/main.js') }}"></script>
{% endblock footer_javascripts %}

{% form_theme form _self %}
{% block response_form_row %}
    <div class="well well-sm question" data-id="{{ data.question.id }}" data-group-id="{{ data.responseGroup.id }}" data-required="{% if required %}true{% else %}false{% endif %}">
        <div class="form-group response{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
            {{- form_label(form) -}}
            {% if is_mobile() %}
                <hr>
            {% endif %}
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{% endblock response_form_row %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <p class="copyright">Copyright ©
                <script> document.write(new Date().getFullYear())</script> aXtion B.V
                {{ assessment.questionnaire.copyright }}
            </p>
        </div>
    </footer>
{% endblock %}