{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block breadcrumb %}
    {{ parent() }}
    {% if is_mobile() and not is_tablet() %}
        <span data-toggle="modal" data-target="#infoModal" class="fa fa-info-circle fa-2x"></span>
    {% endif %}
{% endblock %}
{% block body %}
    <h4>{{ assessment.questionnaire.name }}</h4>

    <div class="paginated-tab">
        {{ form_start(form,{'attr':{'data-assessment-id':assessment.id,'class':'sr-only form-confirm','data-message':'questionnaire.confirm'|trans}}) }}
        {{ form_widget(form.responseGroups) }}
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    {{ form_widget(form.save,{'attr':{'class':'btn btn-inverse btn-block'},'label':'button.save_to_continue_later'|trans}) }}
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    {{ form_widget(form.submit,{'attr':{'class':'btn btn-primary btn-block'},'label':'button.submit'|trans}) }}
                </div>
            </div>
            <div class="col-md-2 col-ms-6">
                <button type="button" class="btn btn-primary btn-block btn-prev"><i class="fa fa-chevron-left"></i> {{ 'pagination.prev'|trans }}</button>
            </div>
            <div class="col-md-2 col-sm-6">
                <button type="button" class="btn btn-primary btn-block btn-next">{{ 'pagination.next'|trans }} <i class="fa fa-chevron-right"></i></button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block footer_javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/axtionfrontend/js/paginated-tab.widget.js') }}"></script>
    <script src="{{ asset('bundles/axtionassessment/js/tab/assessment.board.plugin.js') }}"></script>
    <script src="{{ asset('bundles/axtionassessment/js/tab/assessmentTabs.plugin.js') }}"></script>
    <script src="{{ asset('bundles/axtionassessment/js/tab/assessment.dependency.js') }}"></script>
    <script src="{{ asset('bundles/axtionassessment/js/tab/plugin.inits.js') }}"></script>
    <script src="{{ asset('bundles/axtionfrontend/js/form-confirm.js') }}"></script>
{% endblock %}

{#Form Override#}
{% form_theme form _self %}
{% block slider_widget %}
    {{ block('form_widget_simple') }}
{% endblock slider_widget %}
{% block collot_datetime_widget %}
    {% spaceless %}
        <div class="input-group input-append date form_datetime" data-options='{{ pickerOptions|json_encode|escape }}'>
            {{ block("form_widget_simple") }}
            <div class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <p class="copyright">Copyright ©
                <script> document.write(new Date().getFullYear())</script>
                aXtion B.V
                {{ assessment.questionnaire.copyright }}
            </p>
        </div>
    </footer>
{% endblock %}