{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block body %}
    <h4>{{ 'question_type.edit'|trans }}</h4>
    {{ form(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#question_type_form_question_type_field_options').collectionToggle();
        });
    </script>
{% endblock %}