{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block body %}
    {% if is_granted('ROLE_DEVELOPER') %}
        <a href="{{ path('questionnaire_question_type_new') }}" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-plus"></span>
            {{ 'question_type.new'|trans }}
        </a>
    {% endif %}
    <h4>{{ 'question_type.question_types'|trans }}</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'table.number'|trans }}</th>
            <th>{{ knp_pagination_sortable(questionTypes, 'question_type.name'|trans, 'q.name') }}</th>
            <th>{{ knp_pagination_sortable(questionTypes, 'question_type.fieldType'|trans, 'q.field_type_id') }}</th>
            <th>{{ 'actions.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for questionType in questionTypes %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ questionType.name }}</td>
                <td>{{ questionType.fieldType }}</td>
                <td>
                    <a href="{{ path('questionnaire_question_type_edit',{id:questionType.id}) }}"
                       class="text-warning">{{ 'actions.edit'|trans }}</a>
                    <a href="{{ path('questionnaire_question_type_delete',{id:questionType.id}) }}"
                       class="text-danger">{{ 'actions.delete'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(questionTypes) }}
    </div>
{% endblock %}
