{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block body %}
    {{ form(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#question_type_form_question_type_field_options').collectionToggle();
        })
    </script>
{% endblock %}