{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block body %}
    <h4>{{ 'status.edit'|trans }}</h4>
    {{ form_errors(form) }}
    {{ form_start(form) }}
    {{ form_row(form.statusI18ns) }}
    <a href="{{ path('questionnaire_status_index') }}" class="btn btn-danger"
       class="btn btn-inverse">{{ 'button.cancel'|trans }}</a>
    {{ form_widget(form.save_return_list) }}
    {{ form_end(form) }}
{% endblock %}