{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block body %}
    <a href="{{ path('questionnaire_status_new') }}" class="pull-right btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>{{ 'status.new'|trans }}</a>
    <h4>{{ 'status.statuses'|trans }}</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'table.number'|trans }}</th>
            <th>{{ 'status.name'|trans }}</th>
            <th>{{ 'actions.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ status.name }}</td>
                <td>
                    <a href="{{ path('questionnaire_status_edit',{id:status.id}) }}"
                       class="text-warning">{{ 'actions.edit'|trans }}</a> |
                    <a href="{{ path('questionnaire_status_delete', {id:status.id}) }}"
                       class="text-danger">{{ 'actions.delete'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}