{% extends '@AxtionQuestionnaire/layout.html.twig' %}
{% block body %}
    <h4>{{ 'status.new'|trans }}</h4>
    {{ form_errors(form) }}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <a href="{{ path('questionnaire_status_index') }}" class="btn btn-inverse">{{ 'button.cancel'|trans }}</a>
    {{ form_widget(form.create_add_new) }}
    {{ form_widget(form.create_return_list) }}
    {{ form_end(form) }}
{% endblock %}